@font-face {
    font-family: 'NissanBrandBold';
    src: url('../fonts/NissanBrand-Bold.woff2') format('woff2')
}

@font-face {
    font-family: 'NissanBrandLight';
    src: url('../fonts/NissanBrand-Light.woff2') format('woff2')
}

@font-face {
    font-family: 'NissanBrandRegular';
    src: url('../fonts/NissanBrand-Regular.woff2') format('woff2')
}